<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="datadog-notifier" version="1">
    <about>
        <name>DataDog Notification Plugin</name>
        <version>1.0</version>
        <target-go-version>15.2.0</target-go-version>
        <description>Send pipeline run data to DataDog</description>
        <vendor>
            <name>PagerDuty</name>
            <url>www.pagerduty.com</url>
        </vendor>
    </about>
</go-plugin>